<div class="" style="opacity: 99%; background-color: #1b2a47; color: #e83e8c;">
	<div class="container">
		<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 ">

			<h5 class="navbar-brand my-0 mr-md-auto font-weight-normal">SHOOT</h5>
			<nav class="my-2 my-md-0 mr-md-3">
				<a class="btn btn-outline-primary" href="/login/">Login</a>
			</nav>
			<a class="btn btn-outline-primary" href="/signup/">Sign up</a>
		</div>
	</div>
</div>


<!-- Banner -->
<!-- <div class="container1"> -->
<section id="banner">
	
		<div class="container">
			<h2><strong>Shooting Management</strong></h2>
			<p>Simplify print targets, add event, and add disciplines.</p>
			<!-- <button type="button" class="btn btn-lg btn-success">Learn More</button> -->
		</div>

</section>
<!-- </div>