<div ng-init="dashCtrl.getmembers()" class="card mb-3">
  <div class="card-header">
    <i class="fa fa-users"></i> Registered Members
    <input class="form-control float-right col-sm-2" ng-model="filterusers.name" type="search" placeholder="Search name.." aria-label="Search">
  </div>
  <div class="card-body" style="margin: 0%;">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Initials</th>
            <th scope="col">Email</th>
            <th scope="col">Sex</th>
            <th scope="col">Birthday</th>
            <th scope="col">Age</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">Zip Code</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table_tr" ng-if="user" ng-repeat="user in dashCtrl.allmembers | filter:filterusers" >
            <th scope="row" style="vertical-align: inherit;"><a>{{$index+1}}</a></th>
            <td class="hover-style"><a>{{user.name}}</a></td>
            <td class="hover-style"><a>{{user.initials}}</a></td>
            <td><a>{{user.email}}</a></td>
            <td ng-if="user.sex"><a>{{user.sex}}</a></td>
            <td ng-if="!user.sex"><a>NA</a></td>
            <td ng-if="user.birthday"><a>{{user.birthday}}</a></td>
            <td ng-if="!user.birthday"><a>NA</a></td>
            <td ng-if="user.age"><a>{{user.age}}</a></td>
            <td ng-if="!user.age"><a>NA</a></td>
            <td ng-if="user.address"><a>{{user.address}}</a></td>
            <td ng-if="!user.address"><a>NA</a></td>
            <td ng-if="user.city"><a>{{user.city}}</a></td>
            <td ng-if="!user.city"><a>NA</a></td>
            <td ng-if="user.address"><a>{{user.zipcode}}</a></td>
            <td ng-if="!user.address"><a>NA</a></td>
            <td ng-if="!user.id" style="vertical-align: inherit;text-align: center">
              <!-- <button class="btn btn-warning col-md-4" ng-click="dashCtrl.editInstructor(user)" style="margin-right:10px">Edit</button><button class="btn col-md-5 btn-danger" ng-click="dashCtrl.deleteInstructor(user._id, $index)">Delete</button> -->
              <button data-toggle="tooltip" class="pd-setting-ed tbl_btn" title="Edit" ng-click="dashCtrl.editMember(user)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
              <button data-toggle="tooltip" class="pd-setting-ed tbl_btn" title="Trash" ng-click="dashCtrl.deleteMember(user._id, $index)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            </td>

          </tr>
          <tr ng-if="!user">
            <td colspan="5" style="text-align:center">There is no members to be registered.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete an member</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Do you really want to delete this member?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Return</button>
        <button type="button" ng-click="dashCtrl.confirmDeleteMember()" class="testsubmit btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>